<section class="banner text-center">
    <div class="container">
        <div class="banner-content">
            <div class="banner-img">
                <img src="img/LPC-img-001.png" alt="">
            </div>
            <div class="banner-text">
                <div class="banner-text-inner">
                    <h1>Teaching Kids The Love of Cooking, one teaspoon at a time</h1>
                    <div class="banner-links">
                        <a class="btn btn-large pink-btn" href="#">Register</a>
                        <a class="btn btn-large yellow-btn" href="#">Search for Classes</a>
                        <a class="btn btn-large orange-btn" href="#">Own your own LPC</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-body">
    <div class="classes-n-event-blocks text-center">
        <div class="container cf">
            <div class="classes-box equal-height">
                <div class="classes-box-inner">
                    <div class="classes-box-content">
                        <h2>Classes</h2>
                        <p>Lorem ipsum dolor consectetur adipiscing elit sed eiusmod tempor incididunt labore dolore magna aliqua.</p>
                        <a class="btn" href="#">View classes</a>
                    </div>
                </div>
            </div>
            <div class="classes-box equal-height">
                <div class="classes-box-inner">
                    <div class="classes-box-content">
                        <h2>Events</h2>
                        <p>Lorem ipsum dolor consectetur adipiscing elit sed eiusmod tempor incididunt labore dolore magna aliqua.</p>
                        <a class="btn" href="#">View Events</a>
                    </div>
                </div>
            </div>
            <div class="classes-box equal-height" ng-if="userClass">
                <div class="classes-box-inner classes-slider">
                    <div class="classes-box-content" ng-repeat="last in sideLast track by $index">
                        <h2>{{last.header}}</h2>
                        <p>{{last.p1}}</p>
                        <p><span>{{last.p2}}</span></p>
                        <p>{{last.p3}}</p>
                        <a class="btn" href="#">Schedule</a>
                    </div>
                </div>
            </div>
            <div class="classes-box equal-height" ng-if="!userClass">
                <div class="classes-box-inner classes-slider">
                    <div class="classes-box-content">
                        <h2>Upcoming classes</h2>
                        <p>Login to see dates</p>
                        <p><span>Login to see your upcoming classes</span></p>
                        <p>Login to see title</p>
                        <a class="btn" href="#">Schedule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Content Section -->
    <div class="img-content-section">
        <div class="img-content-blocks cf">
            <div class="img-block equal-height">
                <img src="img/LPC-img-002.jpg" alt="">
            </div>
            
            <div class="content-block equal-height text-center" >
                <div class="content">
                    <div class="content-inner">
                        <br><br>
                        <h3>About us</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem <br> accusantium doloremque laudantium totam rem <br> aperia eaque ipsa quae ab illo inventore</p>
                        <p>veritatis quasi architecto beatae vitae die consectetur <br> sunt explicabo nemo en ipsam voluptatem <br> quia voluptas sit aspernatur aut odit.</p>
                        <a href="#" class="btn">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonials -->
    <div class="testimonials text-center">
        <div class="container">
            <div class="testimonials-slider">
                <div class="slide">
                    <h3>Testimonials</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium totam rem aperia eaque ipsa quae illo inventore</p>
                    <p class="author">John walt</p>
                </div>

                <div class="slide">
                    <h3>Testimonials</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et officiis dolorum odio doloremque iste iure dolorem ipsam</p>
                    <p class="author">John walt</p>
                </div>
            </div>
        </div>
    </div>

    <br/><br/>
    <div class="image-blocks" ng-show="userClass">
        <div class="container">
            <ui-carousel slides="slider.photos" on-init="onCarouselInit()" slides-to-show="3"
                 slides-to-scroll="1">
            <div class="image-slider cf">
                <div class="image-block">
                    <carousel-item>
                        <img style="width: 100%; padding: 0 15px; height: 225px" src="/upload/{{ item }}" alt="Image" />
                    </carousel-item>
                    <carousel-prev>
                        <button class="slicker-prev slicker-arrow" aria-label="Previous" type="button">Previous</button>
                    </carousel-prev>    
                    <carousel-next>
                        <button class="slicker-next slicker-arrow" aria-label="Next" type="button">Next</button>
                    </carousel-next>
                </div>
            </div>
            </ui-carousel>
        </div>
    </div>

    <!-- Image Content Section -->
    <div class="img-content-section">
        <div class="img-content-blocks cf">
            <div class="img-block equal-height">
                <img src="img/LPC-img-006.jpg" alt="">
            </div>
            <div class="content-block left equal-height text-center">
                <div class="content">
                    <div class="content-inner">
                        <br><br><br>
                        <h3>Own your very own LPC business</h3>
                        <p class="large">Sed perspiciatis omnis natus voluptatem accusantium <br> doloremque laudantium totam rem aperia.</p>
                        <a href="#" class="btn">Get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- global newsletter -->
    <div class="newsletter">
        <div class="container text-center">
            <p>Subscribe newsletter</p>
            <form>
                <input class="subscribe" type="email" placeholder="Enter email address">
                <input type="submit" value="Subscribe">
            </form>
        </div>
    </div>
</section>

<!-- Style given seperately only for image-slider to not 
to conflict with one in user-style.css -->
<style>
    .slicker-arrow.slicker-prev:before { background-image: url(../img/leftarrow.svg);}
    .slicker-arrow.slicker-next:before { background-image: url(../img/rightarrrow.svg);}
    .slicker-arrow.slicker-prev {
        left: -9px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .slicker-arrow.slicker-next {
        right: -9px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .slicker-arrow {
        position: absolute;
        z-index: 1;
        min-width: inherit;
        padding: 0;
        font-size: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .slicker-arrow:before {
        content: "";
        width: 6px;
        height: 11px;
        position: absolute;    
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -3px;
        background-repeat: no-repeat;
    }
    .slicker-arrow {
        width: 24px;
        height: 47px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>