<footer ng-controller="footerCtrl">
    <div class="container cf">
        <div class="footer-left">
            <div class="logo">
                <a href="#">
                    <img src="img/footer-logo.png" alt="">
                </a>
            </div>
            <div class="copyright">
                <p>© Copyright 2017 Le Petit Chef.</p>
            </div>
            <div class="links">
                <a href="#">Terms of Use.</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
        <div class="footer-right">
            <a href="#" class="lpc-link">Own your very own LPC</a>
        </div>
    </div>
</footer>