<header ng-controller="topCtrl" style="background-color: #FFFFFF">
    <div class="header-top text-right" ng-if="loggedIn">
        <div class="container cf">                    
            <div class="user-acc">
            <div class="logged-in">
                    <div class="user-block">
                        <div class="user-icon">
                            <i class=""><img src="img/userimage.svg" alt=""></i>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <span ng-if="!loggedIn"> <!-- Not needed though -->
                            <a style="color: #ffffff" ng-click="userLogin()">Login</a>
                        </span>
                        <span class= "dropdown">
                            <span data-toggle="dropdown" class="user-name">
                                <a href="#"><span>{{user.firstname + ' ' + user.lastname}}</span></a>
                            </span>
                            <ul class="dropdown-menu" style="color:black">
                                <li><a href="#"> one</a></li>
                                <li><a ng-click="logout()">Logout</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <div class="my-classes" ng-if="a">
                <p>My Next Booked Class: This {{ day[0].day }} at {{ day[0].time }} 
                    <a ui-sref="user.buss.classlist">My Classes</a></p>
            </div>
        </div>
    </div>

    <div class="header-main">
        <div class="container cf">
            <div class="logo">
                <a href="#">
                    <img src="img/logo.png" alt="">
                </a>
            </div>
            <div class="header-right">
                <a class="mobile-nav-button menu-bt sb-toggle-right" id="nav-icon1" href="#menu">
                    <div class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <div>
                    <nav class="menu-navigation">
                        <ul class="menu">
                            <li ng-class="{active: $state.includes('user.home')}"><a href="/home" >Home</a></li>
                            <li ng-class="{active: $state.includes('user.about')}"><a href="/about">About Us</a></li>
                            <li ng-class="{active: $state.includes('user.services')}"><a href="/service">Services</a></li>
                            <li ng-class="{active: $state.includes('user.store')}"><a href="/store">Store</a></li>
                            <li ng-class="{active: $state.includes('user.blog')}"><a href="/blog">Blog</a></li>
                            <li ng-class="{active: $state.includes('user.faq')}"><a href="/faq">FAQ</a></li>
                        </ul>
                    </nav>
                    <div class="my-account" ng-if="loggedIn">
                        <a ui-sref="user.buss.classlist">Manage My Business</a>
                    </div>
                    <div class="my-account" ng-if="!loggedIn">
                        <a ui-sref="login">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>