<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{title}}</h5>
                </div>
                 
                <div class="ibox-content">
                    <form id="event_form" name="eventForm" class="form-horizontal" role="form" ng-submit="submit(eventData)" novalidate>
                        <div class="form-group" ng-class="{'has-error': (eventForm.Title.$touched || submitted) && eventForm.Title.$invalid}">
                            <label class="col-sm-2">Title*</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="Title" type="text" ng-model="eventData.title" maxlength="15" 
                                ng-trim="false" minlength="5" letter-length required>
                                <p class="errors" ng-show="(eventForm.Title.$touched || submitted) && eventForm.Title.$error.required">
                                    Please enter title
                                </p>
                                <p class="errors" ng-show="eventForm.Title.$error.minlength">
                                    Length should be greater than 5
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': (eventForm.Description.$touched || submitted) && eventForm.Description.$invalid}">
                            <label class="col-sm-2">Description*</label>
                            <div class="col-sm-10">
                                <textarea rows="10" class="form-control" name="Description" ng-model="eventData.description" maxlength="200" required></textarea>
                                <p class="errors" ng-show="(eventForm.Description.$touched || submitted) && eventForm.Description.$invalid">
                                    Please enter description
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!editEvent">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-disabled="saved" class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                        <div class="form-group" ng-if="editEvent">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button ng-disabled="saved" class="btn btn-primary" type="button" ng-click="update(eventData)">Update</button>
                                <button ng-disabled="saved" class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    