<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div ng-if="status"  class="alert alert-success fade in" role="alert">
                        <strong>Successfully updated Status</strong>
                    </div>
                    <h5>Events Offered List</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in event">
                                    <td>{{ event.title}}</td>
                                    <td>{{ event.description }}</td>
                                    <td class="text-center">
                                        <a ng-if="event.status == 'active'" class="activeStatus" ng-click="updateStatus($index)">
                                                {{ event.status }}</a>
                                        <a ng-if="event.status == 'inactive'" class="inactiveStatus" ng-click="updateStatus($index)">
                                                {{ event.status }}</a>
                                    </td>
                                    <td>
                                        <a ui-sref="event.add-event({id: '{{event._id}}' })"><i class="fa fa-pencil"></i></a>
                                        <a ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>