<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div ng-if="status"  class="alert alert-success fade in" role="alert">
                            <strong>Successfully updated Status</strong>
                        </div>
                        <h5>Services Offered List</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="service in service">
                                        <td>{{ service.title}}</td>
                                        <td>{{ service.description }}</td>
                                        <td class="text-center">
                                            <a ng-if="service.status == 'active'" class="activeStatus" ng-click="updateStatus($index)">
                                                    {{ service.status }}</a>
                                            <a ng-if="service.status == 'inactive'" class="inactiveStatus" ng-click="updateStatus($index)">
                                                    {{ service.status }}</a>
                                        </td>
                                        <td>
                                            <a ui-sref="service.add-service({id: '{{service._id}}' })"><i class="fa fa-pencil"></i></a>
                                            <a ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                                            <!-- <a ng-confirm-click = "Are you sure to delete this record ?" 
                                                confirmed-click = "delete($index)"><i class="fa fa-trash-o"></i></a>  -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>